.auth-wrapper {
    margin-top: 80px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
    background: linear-gradient(to bottom right, #d9f7ec, #b2e5d3);
    box-sizing: border-box;
  }
  