.auth-wrapper {
    margin-top: 80px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
    background: #d9f7ec;
    box-sizing: border-box;
  }
  